---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body>
    <div class="main-wrapper">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  .main-wrapper {
    display: flex;
    justify-content: center;
  }
  main {
    margin: 56px 32px;
  }

  @media (width < 576px) {
    main {
      flex: 1 1 auto;
      margin: 32px 16px;
      padding-left: 1.2em;
    }
  }

  @media (576px <= width < 992px) {
    main {
      margin: 32px 24px 32px 72px;
      padding-left: 1.2em;
    }
  }
</style>
