---
import "@acab/reset.css";
const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <!-- TODO: metaタグなど入れる -->
  </head>

  <body>
    <slot />
  </body>
</html>
