---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <!-- TODO: metaタグなど入れる -->
  </head>

  <body>
    <div class="main-wrapper">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  .main-wrapper {
    display: flex;
    justify-content: center;
  }
  main {
    margin: 64px 32px;
  }
</style>
